html,
body {
  margin: 0;
  font-size: 16px;
  background: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  align-self: center;
  flex: 1;
  width: 100%; 
}