.wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: $primary_medium;
}

.btn {
  outline: 2px solid $primary_medium;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  text-transform: none;
  gap: 3px;

  &__title {
    flex: 0 0 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $primary;
    flex: none;
    transition: transform 0.2s;

    &[data-open="true"] {
      transform: rotate(180deg);
    }
  }
}

.dropdown {
  padding: 10px 0;
  border: 1px solid $secondary_medium;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transform: translateY(105%);
  width: 100%;
  background: $white;
  display: none;

  &[data-open="true"] {
    display: block;
  }
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  &__item {
    cursor: pointer;
    padding: 10px;
    transition: background 0.2s;

    &[data-active="true"] {
      background: lighten($primary_light, 15%);
    }

    &:hover:not([data-active="true"]) {
      background: $secondary_light;
    }
  }
}